<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title>login</title>
	<!-- <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css"> -->
	<link href="http://cdn.bootcss.com/element-ui/1.4.2/theme-default/index.css" rel="stylesheet">
	<style>
		html body {
			padding: 0;
			margin: 0;
		}
		header {
		    background: #324157;
		    width: 100%;
		    color: white;
		    text-align: center;
		    line-height: 50px;
	  	}
	  	section {
	    	margin: 50px 30px 0 0; 
	  	}
	</style>
</head>
<body>
	<div id="main">
		<header>
	    	欢迎来到登录界面
	    </header>
	    <section v-loading="loading" element-loading-text="正在跳转，请稍后">
	    	<el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
	    	  <el-form-item label="用户名" prop="name">
	    	    <el-input v-model="ruleForm.name"></el-input>
	    	  </el-form-item>
	    	  <el-form-item label="密码" prop="password">
	    	    <el-input type="password" v-model="ruleForm.password" auto-complete="off"></el-input>
	    	  </el-form-item>
	    	  <el-form-item>
	    	    <el-button type="primary" @click="submitForm('ruleForm')" v-text="btns.one"></el-button>
	    	    <el-button @click="resetForm('ruleForm')" v-text="btns.two"></el-button>
	    	  </el-form-item>
			  <el-form-item label="还没有账号？" style="margin-left: 20px;">
		  	  	<el-button type="text" @click="register" v-text="btns.three"></el-button>
		  	  </el-form-item>
	    	</el-form>
	    </section>
	</div>
	<script src="http://cdn.bootcss.com/vue/2.4.2/vue.js"></script>
	<!-- <script src="https://unpkg.com/element-ui/lib/index.js"></script> -->
	<script src="http://cdn.bootcss.com/element-ui/1.4.2/index.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script>
		new Vue({
			el: '#main',
			data: {
				ruleForm: {
		          name: '',
		          password: ''
		        },
		        rules: {
		          name: [
		            { required: true, message: '请输入用户名', trigger: 'blur' }
		          ],
		          password: [
		          	{ required: true, message: '请输入密码', trigger: 'blur' }
		          ]
		        },
		        btns: {
		        	one: '确定',
		        	two: '重置',
		        	three: '点我注册'
		        },
		        loading: false,
		        resource: 'http://localhost:3000',
			},
			methods: {
				submitForm(formName) {
			        this.$refs[formName].validate((valid) => {
			          if (valid) {
			          	this.loading = true
			            axios.get(this.resource + '/api/user/findByName', {params: {name: this.ruleForm.name, password: this.ruleForm.password}}).then((res) => {
			            	console.log(res.data)
			            	if (res.data.code == 200) {
			                	// window.localStorage.setItem('uname', this.ruleForm.name)
			                	window.sessionStorage.setItem('uname', this.ruleForm.name)
				            	this.$message({
						          showClose: true,
						          message: '恭喜你，登录成功！',
						          type: 'success'
						        });
					        	this.loading = false
						        setTimeout(() => {
					        		window.location.href = 'http://localhost:2000'
						        },1000)
			            	} else if (res.data.code == 500) {
			            		this.$message({
						          showClose: true,
						          message: res.data.message,
						          type: 'error'
						        });
						        this.loading = false
			            	}
			            })
			          } else {
			            console.log('error submit!!');
			            return false;
			          }
			        });
	       		},
	      		resetForm(formName) {
	        		this.$refs[formName].resetFields();
	      		},
	      		register () {
	      			this.loading = true
	      			window.location.href = '/addUser'
	      		}
			},
		})
	</script>
</body>
</html>