/*common*/
html {
	height: 100%;
}
body {
    font:17px "microsoft yahei",Arial,Helvetica,sans-serif;
    color:#000000;
    margin:0;
    padding:0;
    height: 100%;
    overflow: hidden;
    background-color: #fafafa;
}

ul,ol,p,h1,h2,h3,h4,h5,h6,dl,dt,dd {
    margin:0;
    padding:0;
    list-style:none;
}

a {
    color:#1f2d3d;
    text-decoration:none;
}
a:hover {
		color:#545450;
		text-decoration:none;
}
a:focus {
  color: #545450;
  text-decoration: none;
}
label {
	cursor: pointer;
}
img {
	vertical-align:middle;
}
.left {
	float: left;
}
.right {
	float: right;
}
.div-top {
    margin-top: 10px;
}
.header-home {
	background: #324157;
	width: 100%;
    height: 8%;
	line-height: 50px;
	text-align: right;
}
section {
    height: 84%;
    overflow: auto;
}
footer {
    height: 8%;
    background: #eaeaea;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 999;
}
.bar{
	padding: 5px 0;
	width: 24%;
	text-align: center;
	border-right: 1px solid #ddd;
}
.bar:last-child {
	border: 0;
}
.box{
    padding: 5px 0;
    width: 33%;
    text-align: center;
    border-right: 1px solid #ddd;
}
.box:last-child {
    border: 0;
}
a.tab {
	display: block;
	font-size: 16px;
}
a.active {
    color: #26a2ff;
}
.child-div {
    line-height: 30px;
    text-align: center;
    padding: 8px 0 8px;
    border-bottom: 1px solid #dfdddd;
}
.el-popover {
	padding: 3px;
}
.line {
    margin: 10px 0;
    padding-left: 5px;
}

/*attendance*/
.mint-popup-4 {
    width: 100%;
}
/*mine*/
.div-title {
    color: #7ba5de;
    padding: 10px 10px;
    font-size: 14px;
    background-color: #eee;
}
.div-content {
    padding: 15px;
    color: #8f8f8f;
    font-size: 13px;
}
/*menu*/
.order-tabs {
    position: relative;
}
.add-button {
    position: absolute;
    right: 60px;
    top: 8px;
}
.order-button {
    position: absolute;
    right: 20px;
    top: 8px;
}
.mint-search {
    height: 60px;
}
.menu-left {
    float: left;
    height: 140px;
    width: 37%;
    padding: 10px;
}
.menu-right {
    height: 120px;
    margin-left: 37%;
    padding: 10px;
    position: relative;
}
.menu-left > img {
    width: 100%;
    height: 100%;
}
.menu-ul > li {
    border-bottom: 1px solid #dfdddd;
    overflow: hidden;
    /*padding-bottom: 10px;*/
}
.menu-ul > li:last-child {
    border: none;
}
.menu-ul > li h4 {
    padding: 0 0 5px;
}
.menu-ul > li p {
    font-size: 0.8em;
    color: #aaa;
}
.menu-num {
    padding: 5px 0  0;
    font-size: 0.9em;
}
.munu-price {
    color: #e4393c;
    padding: 5px 0;
    position: absolute;
    bottom: 0;
    left: 20px;
    width: 100%;
}
.menu-shop {
    height: 30px;
    float: right;
    margin-right: 40px;
}
.menu-shop > div {
    float: left;
}
.shop-first {
    color: #00a0dc;
    width: 22px;
    height: 22px;
    border: 1px solid #00a0dc;
    border-radius: 50%;
    line-height: 22px;
    text-align: center;
    font-size: 16px;
    float: left;
}
.shop-second {
    color: #93999f;
    font-size: 0.8em;
    line-height: 24px;
    margin: 0 8px;
    float: left;
}
.shop-third {
    color: #fff;
    width: 24px;
    height: 24px;
    background-color: #00a0dc;
    border-radius: 50%;
    line-height: 22px;
    text-align: center;
    font-size: 16px;
    float: left;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in below version 2.1.8 */ {
  opacity: 0
}
.menu-left-shop {
    float: left;
    height: 140px;
    width: 37%;
    padding: 10px 0;
}
.menu-left-shop > img {
    width: 100%;
    height: 100%;
}
.radio-check {
    width: 1em;
    height: 1em;
    border: 1px solid #1f2d3d;
    border-radius: 50%;
    margin: 70px auto;
}
.radio-not-check {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 70px auto;
    background-color: #e4393c;
    color: #fff;
    text-align: center;
}
.radio-check-foot {
    width: 1em;
    height: 1em;
    border: 1px solid #1f2d3d;
    border-radius: 50%;
    margin: 10px 0 0 7px;
    line-height: 18px;
}
.radio-not-check-foot {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: #e4393c;
    color: #fff;
    text-align: center;
    margin: 10px 0 0 7px;
    line-height: 18px;
}
.shop-footer {
    overflow: hidden;
    background-color: #eef1f6;
    position: fixed;
    width: 100%;
    bottom: 38px;
    height: 60px;
}
.shop-footer-left {
    float: left;
    width: 70%;
    height: 60px;
    line-height: 50px;
}
.shop-footer-right {
    float: left;
    width: 30%;
    line-height: 50px;
    height: 60px;
    text-align: center;
    color: #fff;
    background-color: #e4393c;
}
/*menuinfo*/
.menuinfo-header {
    position: relative;
    overflow: hidden;
}
.menuinfo-header > img {
    width: 100%;
    height: 320px;
}
.back {
    position: absolute;
    top: 20px;
    left: 10px;
    color: #fff;
    font-size: 20px;
}
.menuinfo-content {
   overflow: hidden;
   padding: 18px;
   position: relative;
}
.menuinfo-content > h4 {
    padding-bottom: 8px;
}
.food-collection, .food-collection-full {
    position: absolute;
    top: 55px;
    right: 35%;
    font-size: 1.3em;
}
.food-collection-full {
    color: rgb(255, 153, 0);
}
.food-num {
    line-height: 10px;
    padding: 15px 0 5px;
    font-size: 0.75em;
    color: #93999f;
}
.food-price {
    color: #e4393c;
    padding: 5px 0;
}
.split {
    border-top: 1px solid rgba(1,17,27,.1);
    height: 16px;
    background-color: #f3f5f7;
}
.buy {
    line-height: 24px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 0.8em;
}
.info {
    padding: 18px;
}
.info-p {
    padding: 7px;
    font-size: 0.8em;
    color: #93999f;
}
.rate {
    padding: 18px;
}
.img-box {
    padding: 10px;
}
.img-box > img {
    width: 100%;
}
.collect-list-one {
    position: absolute;
    bottom: 5px;
    right: 15%;
    font-size: 1.3em;
    color: rgb(255, 153, 0);
}
.mint-search-list {
    height: 0;
}
.empty-content {
    margin: 50px auto;
    width: 65%;
    text-align: center;
    line-height: 30px;
    color: rgb(255, 153, 0);
}
/*orderlist*/
.orderlist-footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    border-top: 1px solid rgba(1,17,27,.1);
    line-height: 48px;
    background-color: #F9FAFC;
}
.orderlist-footer-left, .orderlist-footer-right, .orderlist-footer-center {
    text-align: center;
}
.orderlist-footer-left {
    background-color: #F7BA2A;
    width: 30%;
    color: #475669;
}
.orderlist-footer-center {
    width: 39%;
    color: #FF4949;
    font-size: 0.95em;
}
.orderlist-footer-right {
    color: #fff;
    background-color: #e4393c;
    width: 30%;
}
.orderlist-num {
    position: absolute;
    right: 20px;
    bottom: 5px;
}
/*mineorderlist*/
.img-box-order {
    padding: 5px;
}
.img-box-order > img {
    width: 20%;
    margin: 10px 2%;
    height: 80px;
}
/*tprate*/
.rate-img {
    width: 25%;
    height: 100px;
    padding: 10px;
}
.rate-img > img {
    width: 100%;
    height: 100%;
}
.rate-star {
    padding: 20px;
}
/*editmenu*/
.cover-img {
    text-align: center;
}
.cover-img img {
    width: 100%;
    height: 320px;
}
.btn-input {
    padding: 7px 9px;
    font-size: 12px;
    border-radius: 4px;
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    background: #fff;
    border: 1px solid #c4c4c4;
    color: #1f2d3d;
    margin: 0;
}
.file {
    position: relative;
    padding: 7px 9px;
    font-size: 12px;
    border-radius: 4px;
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    background: #fff;
    border: 1px solid #c4c4c4;
    color: #1f2d3d;
    margin: 0;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
/*user*/
.user-img {
    overflow: hidden;
    background-color: #f3f5f7; 
}
.user-img > img {
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 10px auto;
}